@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization

<PageTitle>Index</PageTitle>


<h1>Välkommen till ManagementCentral!</h1>

<AuthorizeView Roles="Admin">
    <Authorized >
        <h5>Hej Admin: @context.User.Identity?.Name!</h5><br />
        <h6>Hoppas du får en bra dag idag!</h6>
    </Authorized>
</AuthorizeView>


<AuthorizeView Roles="User">
    <Authorized>
        <h5>Hej User: @context.User.Identity?.Name!</h5><br />
        <h6>Hoppas du får en bra dag idag!</h6>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Edit">
    <Authorized>
        <h5>Hej Edit: @context.User.Identity?.Name!</h5><br />
        <h6>Hoppas du får en bra dag idag!</h6>
    </Authorized>
</AuthorizeView>

<AuthorizeView >
    <NotAuthorized>
        Inte inloggad
    </NotAuthorized>
</AuthorizeView>

